1
a)The Jaccard Distance between two sets(say, A and B) can be calculated by these steps,
1. Compute the Jaccard Index which is A.intersection(B) / A.union(B)
2. Subtract the Jaccard Index from 1 to get the Jaccard Distance.

In [49]:
A=(1,1,0,1,1,0,1,1)
B=(0,1,1,1,1,1,1,0)
C=(1,0,1,1,0,1,1,1)

def findInter(s1,s2):
    inter=0
    for i in range(len(s1)):
        if(s1[i]==s2[i]==1):
            inter=inter+1
    return inter        
def findUnion(s1,s2):
    union=0
    for i in range(len(s1)):
        if(s1[i]==1 or s2[i]==1):
            union=union+1
    return union

in1=findInter(A,B)
un=findUnion(A,B)
print(in1)
print(un)
jacind=in1/un
jacdist=1-jacind
print("Jaccard Distance between A and B is "+str(jacind))

in1=findInter(B,C)
un=findUnion(B,C)
print(in1)
print(un)
jacind=in1/un
jacdist=1-jacind
print("Jaccard Distance between B and C is "+str(jacind))

in1=findInter(A,C)
un=findUnion(A,C)
print(in1)
print(un)
jacind=in1/un
jacdist=1-jacind
print("Jaccard Distance between A and C is "+str(jacind))

4
8
Jaccard Distance between A and B is 0.5
4
8
Jaccard Distance between B and C is 0.5
4
8
Jaccard Distance between A and C is 0.5

1
b)The Cosine Distance between say, A and B is calculated by the following steps,
1. Find the dot product of A and B.
2. Calculate the square root of the dot product of A and A.
3. The Square root of the dot product of B and B.
4. Multiply the dot products of steps 2 and 3.
5. Divide the dot product of A and B by step 4's result.

In [29]:
import math
A=(1,1,0,1,1,0,1,1)
B=(0,1,1,1,1,1,1,0)
C=(1,0,1,1,0,1,1,1)

def findDot(s1,s2):
    dot=0;
    for i in range(len(s1)):
        dot+=s1[i]*s2[i]
    return dot

num=findDot(A,B)
den=math.sqrt(findDot(A,A))* math.sqrt(findDot(B,B))
print("The Cosine Distance between A and B is "+str(num/den))

num=findDot(B,C)
den=math.sqrt(findDot(C,C))* math.sqrt(findDot(B,B))
print("The Cosine Distance between B and C is "+str(num/den))

num=findDot(A,C)
den=math.sqrt(findDot(A,A))* math.sqrt(findDot(C,C))
print("The Cosine Distance between A and C is "+str(num/den))

The Cosine Distance between A and B is 0.6666666666666667
The Cosine Distance between B and C is 0.6666666666666667
The Cosine Distance between A and C is 0.6666666666666667

1
c) Same Procedure but the input changes due to 3,4,5 ratings getting values 1 and the rest 0

In [187]:
A=(1,1,0,1,0,0,1,0)
B=(0,1,1,1,0,0,0,0)
C=(0,0,0,1,0,1,1,1)

in1=findInter(A,B)
un=findUnion(A,B)
print(in1)
print(un)
jacind=in1/un
jacdist=1-jacind
print("Jaccard Distance between A and B is "+str(jacind))

in1=findInter(B,C)
un=findUnion(B,C)
print(in1)
print(un)
jacind=in1/un
jacdist=1-jacind
print("Jaccard Distance between B and C is "+str(jacind))

in1=findInter(A,C)
un=findUnion(A,C)
print(in1)
print(un)
jacind=in1/un
jacdist=1-jacind
print("Jaccard Distance between A and C is "+str(jacind))

2
5
Jaccard Distance between A and B is 0.4
1
6
Jaccard Distance between B and C is 0.16666666666666666
2
6
Jaccard Distance between A and C is 0.3333333333333333

1
d) The Cosine Distance procedure is the same but for the changed input.

In [188]:
import math
A=(1,1,0,1,0,0,1,0)
B=(0,1,1,1,0,0,0,0)
C=(0,0,0,1,0,1,1,1)

num=findDot(A,B)
den=math.sqrt(findDot(A,A))* math.sqrt(findDot(B,B))
print("The Cosine Distance between A and B is "+str(num/den))

num=findDot(B,C)
den=math.sqrt(findDot(C,C))* math.sqrt(findDot(B,B))
print("The Cosine Distance between B and C is "+str(num/den))

num=findDot(A,C)
den=math.sqrt(findDot(A,A))* math.sqrt(findDot(C,C))
print("The Cosine Distance between A and C is "+str(num/den))

The Cosine Distance between A and B is 0.5773502691896258
The Cosine Distance between B and C is 0.2886751345948129
The Cosine Distance between A and C is 0.5

1
e) Normalizing the matrix by finding the average of each user's ratings and then subtracting that from the non zero ratings.

In [40]:
A=[4,5,0,5,1,0,3,2]
B=[0,3,4,3,1,2,1,0]
C=[2,0,1,3,0,4,5,3]

def findAvg(s1):
    avg=0;
    for i in range(len(s1)):
        avg+=s1[i]
    avg=avg/len(s1)
    return avg

def repList(s1):
    l=list()
    for i in s1:
        if(i is not 0):
            l.append(i-findAvg(s1))
        else:
            l.append(0)
    return l

A=repList(A)
B=repList(B)
C=repList(C)
print(A)
print(B)
print(C)

[1.5, 2.5, 0, 2.5, -1.5, 0, 0.5, -0.5]
[0, 1.25, 2.25, 1.25, -0.75, 0.25, -0.75, 0]
[-0.25, 0, -1.25, 0.75, 0, 1.75, 2.75, 0.75]

1
f) Computing the Cosine Distance between each set with the normalized sets from the previous step.

In [189]:
import math
A=(1.5, 2.5, 0, 2.5, -1.5, 0, 0.5, -0.5)
B=(0, 1.25, 2.25, 1.25, -0.75, 0.25, -0.75, 0)
C=(-0.25, 0, -1.25, 0.75, 0, 1.75, 2.75, 0.75)
num=findDot(A,B)
den=math.sqrt(findDot(A,A))* math.sqrt(findDot(B,B))
print("The Cosine Distance between A and B is "+str(num/den))

num=findDot(B,C)
den=math.sqrt(findDot(C,C))* math.sqrt(findDot(B,B))
print("The Cosine Distance between B and C is "+str(num/den))

num=findDot(A,C)
den=math.sqrt(findDot(A,A))* math.sqrt(findDot(C,C))
print("The Cosine Distance between A and C is "+str(num/den))

The Cosine Distance between A and B is 0.5465040408511785
The Cosine Distance between B and C is -0.31256152042413066
The Cosine Distance between A and C is 0.16340829138365012

2
Based on the user profiles of Users 200 and 15, the recommender system is supposed to determine which of these users to suggest the movie with ID 95, "The Aladdin (1992)". The code mentioned below builds the profiles, calculates ratings, finds the user who is most likely to enjoy the movie.

In [262]:
import pandas as pd
dat=pd.read_csv('C:/Users/Titan/Documents/Pooja_programs/DA Project/assign.csv')
df1=pd.read_csv('C:/Users/Titan/Documents/Pooja_programs/DA Project/assign1.csv')
movie_choice=pd.DataFrame(df1.loc[94,::])
movie_choice.head(n=10)
df1.index+=1
df1.head()
movies_index=df1.MovieID
genres=df1.columns
genres=genres[5:]
genre_values=df1.values
dat200=pd.DataFrame(dat.loc[dat['UserID']==200])
user200r=dat200.Rating
user200i=dat200.ItemID
dat200.head(n=10)

      UserID  ItemID  Rating  Timestamp
12       200     222       5  876042340
189      200     673       5  884128554
243      200     318       5  884128458
326      200     304       5  876041644
367      200      96       5  884129409
503      200     365       5  884129962
692      200      11       5  884129542
1129     200     892       4  884127082
1285     200     588       5  884128499
1490     200     478       5  884128788

In [263]:
dat15=pd.DataFrame(dat.loc[dat['UserID']==15])
user15r=dat15.Rating
user15i=dat15.ItemID
dat15.head(n=10)

      UserID  ItemID  Rating  Timestamp
206       15     405       2  879455957
642       15     749       1  879455311
708       15      25       3  879456204
1208      15     331       3  879455166
1365      15     222       3  879455730
2207      15     473       1  879456204
2241      15     678       1  879455311
2461      15     932       1  879456465
2464      15     127       2  879455505
2649      15     685       4  879456288

In [264]:
def findRatings(s1):
    l=[0]*18
    for i in s1:
        pos=0
        j=genre_values[i]
        j=j[5:]
        for ind in j:
            l[pos]+=ind
            pos+=1
    
    avg=findAvg(l)

    for i in range(18):
        l[i]/=avg
        l[i]=round(l[i],2)
    return l

In [265]:
user200sum=findRatings(user200i)
user15sum=findRatings(user15i)

print("User 200's Ratings : "+str(user200sum))
print("User 15's Ratings : "+str(user15sum))
goal_movie=genre_values[ind]
goal_movie=goal_movie[5:]

num=findDot(user200sum,goal_movie)
den=math.sqrt(findDot(user200sum,user200sum))* math.sqrt(findDot(goal_movie,goal_movie))
print("The Cosine Distance between User200 and Movie Number 95 : The Aladdin is "+str(num/den))

num=findDot(user15sum,goal_movie)
den=math.sqrt(findDot(user15sum,user15sum))* math.sqrt(findDot(goal_movie,goal_movie))
print("The Cosine Distance between User15 and Movie Number 95 : The Aladdin is "+str(num/den))

User 200's Ratings : [2.03, 1.18, 0.38, 0.8, 3.21, 0.55, 0.13, 3.13, 0.21, 0.13, 0.55, 0.46, 0.3, 1.18, 0.97, 1.61, 0.8, 0.38]
User 15's Ratings : [1.79, 0.9, 0.09, 0.99, 2.33, 0.81, 0.18, 4.3, 0.27, 0.18, 0.36, 0.18, 0.45, 1.34, 0.9, 2.24, 0.54, 0.18]
The Cosine Distance between User200 and Movie Number 95 : The Aladdin is 0.4405912046275792
The Cosine Distance between User15 and Movie Number 95 : The Aladdin is 0.319263619094249

Based on the Cosine Distance values, User 200 might enjoy "The Aladdin" more than User 15, so the Recommender would suggest this movie to User 200.